<launch>
  <group ns="/robots/lwr1">
    <node name="trocar2cartesian_lwr1" pkg="trocar2cartesian" type="trocar2cartesian_node" output="screen">
      <param name="robot_name" value="lwr1" />
      <param name="base_tf_name" value="lwr1_base_art" />
      <param name="flange_tf_name" value="lwr1_flange_art" />
    </node>
  </group>
</launch>
